body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #333333;
    font-size: 13;
    margin: 0px;
    overflow: hidden;
    font-weight: 400;
}

h1 {
    text-align: left;
    margin-top: -2px;
    margin-bottom: 5%;
    background-color: #2a2a2a;
    padding-left: 65px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-image: url('favicon-xsmall.png');
    background-repeat: no-repeat;
    background-position: 28px;
    background-size: 177px;
    color: #ffffff;
    box-sizing: border-box;
    border-top-width: 0x;
    border-left-width: 0x;
    border-right-width: 0x;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px ridge #444;
}

h3 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 12px;
    font-size: 14px;
    width: 55px;
    color: #DAC51B;
}

h2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 12px;
    font-size: 14px;
    color: #DAC51B;
}

.button-start {
    border: 0px solid #efefef;
    border-radius: .3rem;
    background-color: #2a2a2a;
    margin-top: 7px;
    margin-bottom: 0px;
    width: 270px;
    height: 30px;
    font-size: 18px;
    text-align: middle;
    padding: .3em;
    color: #f2f2f2;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.button-start:hover {
    background: #0da3c6;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.button-start:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    background: #16AADF;
    color: #f2f2f2;
}

.button-start:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
}

.button-start:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
}

.button-browse {
    color: #262626;
    border: 0px solid #efefef;
    border-radius: 2px;
    font-weight: 300;
    margin-left: 0px;
    padding: 6px 12px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    color: #808080;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    height: 23px;
    background-color: #333333;
    width: 48px;
}

.button-browse:hover {
    color: white;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(218,197,27,.9);
}

.button-browse:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    color: #16AADF;
}

.button-browse:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
}

.button-browse:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
}

.content {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 11;
    padding-top: 0px;
    font-weight: 400;
    margin: 0;
    padding-left: 8%;
    height: 510px;
    margin-top: -16px;

    /* background-color: #404040 */
}

.path-input {
    width: 275px;
    height: 30px;
    background-color: #2a2a2a;
    border: 1px solid #333333;
    border-radius: 0px;
    color: #16AADF;
    text-indent: 1%;
    background-position: left center;
    margin-bottom: 11px;
    margin-left: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    font-weight: 700;
}

.path-input:focus {
    border-color: white;
    border-radius: 0px;
    border-width: 1px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.text-input {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #A2A2A2;
    text-transform: uppercase;
    font-size: 13;
    text-indent: 11PX;
    margin-bottom: 7px;
    padding-top: 0px;
    padding-bottom: 2;
}

.text-input input:focus {
    border-color: white;
    border-radius: 0;
    border-width: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.text-input input {
    width: 75px;
    height: 24px;
    background-color: #2a2a2a;
    position: absolute;
    margin-top: -4px;
    border: 1px solid #333333;
    border-radius: 0px;
    color: #16AADF;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    left: 281px;
    font-weight: 700;
    text-indent: 3%;
}

.text-input-edit {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #A2A2A2;
    text-transform: uppercase;
    font-size: 13;
    text-indent: 11PX;
    margin-bottom: 7px;
    padding-top: 0px;
    padding-bottom: 2;
}

.text-input-edit input:focus {
    border-color: white;
    border-radius: 0;
    border-width: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.text-input-edit input {
    width: 260px;
    height: 24px;
    background-color: #2a2a2a;
    position: absolute;
    margin-top: -4px;
    border: 1px solid #333333;
    border-radius: 0px;
    color: #16AADF;
    font-family: 'Roboto', sans-serif;
    font-size: 11;
    left: 96px;
    font-weight: 700;
    text-indent: 3%;
}

.settings-container {
    text-align: left;
    left: 16px;
}

.checkbox-title {
    font-size: 22px;
}

/* Styling Checkbox Starts */
.checkbox-label {
    position: relative;

    /* margin: auto */
    cursor: pointer;
    line-height: 34px;

    /* height: 34px */
    width: 200px;
    clear: both;

    /* margin-top: 2px */
    padding-top: 2px;
    box-sizing: border-box;
    display: inline;
}

.checkbox-label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #808080;
    box-sizing: border-box;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: transparent;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #DAC51B;
    box-sizing: border-box;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #DAC51B;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-sizing: border-box;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #DAC51B;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
}

.checkbox-container {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
    text-indent: 10px;
    font-size: 14;
    width: 12em;
    padding-bottom: 2px;
    padding-top: 2px;
    float: left;
    overflow-x: hidden;
    flex-direction: column;
    box-sizing: border-box;
}

.checkbox-container:hover {
    background: #2a2a2a;
    color: #f2f2f2;
    cursor: pointer;
}

.checkbox-container-edit {
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
    text-indent: 10;
    font-size: 14;
    padding-right: 0px;
    width: 12em;
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
    box-sizing: border-box;
}

.checkbox-container-edit:hover {
    background: #2a2a2a;
    color: #f2f2f2;
    cursor: pointer;
}

.checkbox-container-style {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
    text-indent: 10px;
    font-size: 14;
    width: 15.5em;
    padding-bottom: 5px;
    padding-top: 2px;
    box-sizing: border-box;
}

.checkbox-container-style:hover {
    background: #2a2a2a;
    color: #f2f2f2;
    cursor: pointer;
}

.progress {
    width: 100%;
    height: 4px;
    margin-top: 15px;
    color: #0da3c6;
}

.progress[value] {
    appearance: none;
    background-color: #232323;
    box-sizing: border-box;
}

.progress::-webkit-progress-bar {
    border-radius: 2px;
    background-color: #000000;
}

.progress::-webkit-progress-value {
    background-color: #82bc00;
    border-radius: 2px;
}

.progress::-moz-progress-bar {
    background-color: #82bc00;
    border-radius: 2px;
}

.progression {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 0px;
    color: #2a2a2a;
    font-weight: 400;
    background-color: #2a2a2a;
    padding-bottom: 18px;
    padding-top: 20px;
    height: 54px;
    box-sizing: border-box;
}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8C8C8C;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0da3c6;
}

input:focus + .slider {
    box-shadow: 0 0 0px #2a2a2a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle {
    left: 282px;
    position: absolute;
    top: 316px;
    width: 100px;
}

.id3 {
    left: 318px;
    position: absolute;
    top: 317px;
    width: 100px;
    font-size: 10;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.help {
    left: 294px;
    position: absolute;
    top: 27px;
    width: 100px;
}

a {
    color: #0da3c6;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #DAC51B;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none;

    /* Hidden by default */
    position: fixed;

    /* Stay in place */
    z-index: 1;

    /* Sit on top */
    padding-top: 50px;

    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;

    /* Full width */
    height: 100%;

    /* Full height */
    overflow: auto;

    /* Enable scroll if needed */
    background-color: rgb(0,0,0);

    /* Fallback color */
    background-color: rgba(0,0,0,0.4);

    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #333333;
    color: #f2f2f2;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    border: 0px solid #2a2a2a;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: normal;
}

.close:hover,
.close:focus {
    color: #DAC51B;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #2a2a2a;
    color: #DAC51B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #2a2a2a;
    color: #DAC51B;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.modal-body {
    padding: 2px 16px;
    font-family: 'Roboto', sans-serif;
}

.box {
    position: absolute;
    top: 495px;
    left: 242px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #808080;
    box-sizing: border-box;
    cursor: pointer;
}

.box select {
    background-color: #333333;
    color: white;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 205px;
    border: none;
    font-size: 14px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: pointer;
}

.box::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 1;
    right: -4;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.box select option {
    padding: 30px;
    cursor: pointer;
}

.box-flac {
    position: absolute;
    top: 540px;
    left: 242px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #808080;
    box-sizing: border-box;
    cursor: pointer;
}

.box-flac select {
    background-color: #333333;
    color: white;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 205px;
    border: none;
    font-size: 14px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: pointer;
}

.box-flac::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 1;
    right: -4;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.box-flac:hover::before {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.box-flac select option {
    padding: 30px;
    cursor: pointer;
}

.checkbox-container-mp3-flac {
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
    text-indent: 10;
    font-size: 14;
    padding-right: 0px;
    width: 7em;
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}