body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #333333;
    font-size: 13;
    margin: 0px;
    overflow: hidden;
    font-weight: 400;
}

h1 {
    text-align: left;
    margin-top: -2px;
    margin-bottom: 5%;
    font-weight: 700;
    background-color: #2a2a2a;
    padding-left: 65px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-image: url('favicon-xsmall.png');
    background-repeat: no-repeat;
    background-position: 28px;
    background-size: 177px;
    font-size: 20;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

h3 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 10px;
    font-size: 16px;
    width: 55px;
    color: #DAC51B;
}

h2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 12px;
    font-size: 16px;
    color: #DAC51B;
}

.button-start {
    border: 0px solid #efefef;
    border-radius: .3rem;
    background-color: #2a2a2a;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 270px;
    height: 36px;
    font-size: 20px;
    text-align: middle;
    padding: .3em;
    color: #f2f2f2;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.button-start:hover {
    background: #0da3c6;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(245,223,46,.9);
}

.button-start:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    background: #16AADF;
    color: #f2f2f2;
}

.button-start:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
}

.button-start:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
}

.button-browse {
    color: #262626;
    border: 0px solid #efefef;
    border-radius: 2px;
    font-weight: 300;
    margin-left: 0px;
    padding: 6px 12px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    color: #808080;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    height: 23px;
    background-color: #333333;
    width: 48px;
}

.button-browse:hover {
    color: white;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(218,197,27,.9);
}

.button-browse:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    color: #16AADF;
}

.button-browse:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
}

.button-browse:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
}

.content {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 11;
    padding-top: 0px;
    font-weight: 400;
    margin: 0;
    padding-left: 8%;
    height: 530px;
    margin-top: -8px;

    /* background-color: #404040 */
}

.path-input {
    width: 275px;
    height: 30px;
    background-color: #2a2a2a;
    border: 1px solid #333333;
    border-radius: 0px;
    color: #16AADF;
    text-indent: 1%;
    background-position: left center;
    margin-bottom: 11px;
    margin-left: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    font-weight: 700;
}

.path-input:focus {
    border-color: white;
    border-radius: 0px;
    border-width: 1px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.text-input {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #A2A2A2;
    text-transform: uppercase;
    font-size: 14;
    text-indent: 11PX;
    margin-bottom: 7px;
    padding-top: 0px;
    padding-bottom: 2;
}

.text-input input:focus {
    border-color: white;
    border-radius: 0;
    border-width: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.text-input input {
    width: 60px;
    height: 24px;
    background-color: #2a2a2a;
    position: absolute;
    margin-top: -4px;
    border: 1px solid #333333;
    border-radius: 0px;
    color: #16AADF;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    left: 296px;
    font-weight: 700;
    text-indent: 3%;
}

.text-input-edit {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #A2A2A2;
    text-transform: uppercase;
    font-size: 14;
    text-indent: 11PX;
    margin-bottom: 7px;
    padding-top: 0px;
    padding-bottom: 2;
}

.text-input-edit input:focus {
    border-color: white;
    border-radius: 0;
    border-width: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.text-input-edit input {
    width: 260px;
    height: 24px;
    background-color: #2a2a2a;
    position: absolute;
    margin-top: -4px;
    border: 1px solid #333333;
    border-radius: 0px;
    color: #16AADF;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    left: 96px;
    font-weight: 700;
    text-indent: 3%;
}

.settings-container {
    text-align: left;
    left: 16px;
}

.checkbox-title {
    font-size: 22px;
}

/* Styling Checkbox Starts */
.checkbox-label {
    position: relative;

    /* margin: auto */
    cursor: pointer;
    line-height: 34px;

    /* height: 34px */
    width: 200px;
    clear: both;

    /* margin-top: 2px */
    padding-top: 2px;
    display: inline;
}

.checkbox-label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #808080;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: transparent;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #DAC51B;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #DAC51B;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #DAC51B;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.checkbox-container {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
    text-indent: 10px;
    font-size: 16px;
    width: 20em;
    padding-bottom: 5px;
    padding-top: 2px;
}

.checkbox-container:hover {
    background: #2a2a2a;
    color: #f2f2f2;
    cursor: pointer;
}

.checkbox-container-edit {
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-weight: 400;
    text-indent: 10;
    font-size: 16px;
    padding-right: 0px;
    width: 11em;
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
}

.checkbox-container-edit:hover {
    background: #2a2a2a;
    color: #f2f2f2;
    cursor: pointer;
}

.progress {
    width: 100%;
    height: 5px;
    color: #0da3c6;
    margin-top: 15px;
}

.progress[value] {
    appearance: none;
    background-color: #232323;
}

.progress::-webkit-progress-bar {
    border-radius: 2px;
    background-color: #000000;
}

.progress::-webkit-progress-value {
    background-color: #82bc00;
    border-radius: 2px;
}

.progress::-moz-progress-bar {
    background-color: #82bc00;
    border-radius: 2px;
}

.progression {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 0px;
    color: #2a2a2a;
    font-weight: 400;
    background-color: #2a2a2a;
    padding-bottom: 18px;
    padding-top: 21px;
    height: 25px;
}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}